# url database
DATABASE_URL="postgres://1c2d75f16ccc2511537a29e41f3dd4b81a44af799c7871a3e26f68d36258d647:sk_iUy_Du0r864-sIvuTc4Dq@pooled.db.prisma.io:5432/postgres?sslmode=require"

# cấu hình Cloudinary
CLOUDINARY_CLOUD_NAME="b7vnka5h"
CLOUDINARY_API_KEY="883184248917225"
CLOUDINARY_API_SECRET="hi7X5FGfK3EjvJ8b8K7wGIEZmFQ"
CLOUDINARY_DEFAULT_FOLDER="nestJS_blog"


# Pepper để băm cùng bcrypt
PASSWORD_PEPPER="hfyw30fjfdj3ljsfjdjal"

# AccessToken và RefreshToken
JWT_ACCESS_TOKEN_SECRET="etkjsghljgfshl47894wl"
JWT_REFRESH_TOKEN_SECRET="rejiow3j3oiuwrjklwerjklgd"

# Hạn của Access và Refresh Token
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

#Cấu hình database
DB_POOL_SIZE="10"
DB_LOG_QUERIES="true"

#Các biến môi trường khác
APP_PORT="8080"
NODE_ENV="development"
APP_NAME="Blog API"
API_PREFIX="api/v1"
FRONTEND_URL="http://localhost:3000"
MAINTENANCE_MODE="false"