<aside class="col-lg-2 d-none d-lg-block">
  
  <div class="card soft-card mb-3">
    <div class="card-body">
      <h6 class="fw-bold mb-3">Khám phá</h6>
      <ul class="sidebar-menu">
        <li>
          <a href="/blog-ui/pages/public/index.html">
            <i class="bi bi-house"></i> Trang chủ
          </a>
        </li>
        <li>
          <a href="/blog-ui/pages/public/hashtag.html">
            <i class="bi bi-fire"></i> Trending
          </a>
        </li>
        <li>
          <a href="/blog-ui/pages/public/category.html">
            <i class="bi bi-folder"></i> Danh mục
          </a>
        </li>
        <li>
          <a href="/blog-ui/pages/public/hashtag.html">
            <i class="bi bi-hash"></i> Hashtag
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card soft-card">
    <div class="card-body">
      <h6 class="fw-bold mb-3">Tags nổi bật</h6>
      <div class="d-flex flex-column gap-2">
        <a href="/blog-ui/pages/public/hashtag.html" class="left-tag">#angular</a>
        <a href="/blog-ui/pages/public/hashtag.html" class="left-tag">#nodejs</a>
        <a href="/blog-ui/pages/public/hashtag.html" class="left-tag">#mysql</a>
        <a href="/blog-ui/pages/public/hashtag.html" class="left-tag">#sequelize</a>
        <a href="/blog-ui/pages/public/hashtag.html" class="left-tag">#jwt</a>
      </div>
    </div>
  </div>
  
</aside>